

buildscript {
        repositories {
                    repositories {  mavenRepo url: "http://visage-lang.github.com/visage-gradle-plugin/repository/" } 
        }
    dependencies {  classpath 'visage:visage-gradle-plugin:0.4' }
}

apply plugin: 'visage'

group = '${projectGroup}'

defaultTasks 'runVisage'

visage {

	mainVisageClass='visage.javafx.HelloVisageFX'
	
}

task runVisage (type: Exec, dependsOn: 'jar') {
		
	def cp =  project.files(
				project.configurations.runtime,
			jar.archivePath
				).getAsPath() 

	workingDir project.sourceSets.main.output.classesDir

	commandLine "visage", "-cp", cp, project.visage.mainVisageClass 
	}