
buildscript {
        repositories {
                    repositories {  mavenRepo url: "http://visage-lang.github.com/visage-gradle-plugin/repository/" } 
        }
    dependencies {  classpath 'org.visage-lang:visage-gradle-plugin:0.5' }
}

apply plugin: 'visage-javafx'

group = '${projectGroup}'

defaultTasks 'runVisage'

ext {
 mainVisageClass='visage.javafx.HelloVisageFX'
}

task(runVisage, dependsOn: 'jar', type: JavaExec) {

	main = 'org.visage.runtime.main.Main'
	args = [
		project.mainVisageClass
	]
	classpath jar.archivePath
	classpath project.configurations.runtime

}